* {
    color: white;
    font-family: 'Open Sans', sans-serif;
}


/* Desktop screens */

@media screen and (min-width: 1023px) {

    body {
        background-image: url("https://wallpaperplay.com/walls/full/8/8/3/244127.jpg");
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .quiz {
        height: 600px;
        width: 600px;
    }

    div.homescreen {
        background-color: white;
        border: 1px black solid;
        height: 400px;
        width: 600px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -200px;
        margin-left: -300px;
        text-align: center;
        background-color: rgb(36, 36, 36);
        box-shadow: 10px 10px 5px black;
    }

    .questionDisplay {
        background-color: white;
        border: 1px black solid;
        height: 400px;
        width: 600px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -200px;
        margin-left: -300px;
        background-color: rgb(36, 36, 36);
        box-shadow: 10px 10px 5px black;
        border-radius: 5px;
    }

    div.greeting{
        position: absolute;
        margin-top: 60px;
        margin-left: 150px;
    }

    div.feedback {
        padding-top: 40px;
    }

    div.quizInfo {
        position: fixed;
        height: 95px;
        width: 250px;
        background-color: rgb(36, 36, 36);
        bottom: 10px;
        right: 10px;
        box-shadow: 7px 7px 4px black;
        border-radius: 4px;
        text-align: center;
        opacity: 0.7;
    }

    .fieldset{ 
        display: flex;
        flex-direction: column;
    }

    label {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
    }


    button {
        color: black;
        font-size: 16px;
        padding: 18px 45px;
        border-radius: 3px;
        transition: 0.2s;
        border-color: rgb(36, 36, 36);
        cursor: pointer;
    }

    button:hover {
        background-color: grey;
        color: white;
    }

    button.beginQuiz {
        margin-top: 250px;
    }
    button.submitAnswer {
        position: absolute;
        margin-top: 0px;
        margin-left: 430px;
    }


    button.takeAgain, button.nextQuestion {
        margin:0 auto;
        margin-right: 180px;
        margin-top: 68px;
        display:block;
    }

    legend {
        padding-top: 25px;
        margin-right: 25px;
        font-size: 24px;
        margin-bottom: 15px;
    }

    .optionDisplay {
        font-size: 24px;
    }

    label {
        display: flex;
        align-items: baseline;
        font-size: 20px;
        padding-left: 5px;
        cursor:pointer;
    }

    input[type="radio"] {
        margin-right: 8px;
        cursor: pointer;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        border: none;
    }

    container {
        height: 402px;
        width: 602px;
        text-align: center;
        margin-top: 40px;
    }
}

/* Tablets (landscape and portrait) */

@media screen and (min-width : 768px) and (max-width : 1023px) {

    body {
        background-image: url("https://wallpaperplay.com/walls/full/8/8/3/244127.jpg");
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .quiz {
        height: 303px;
        width: 453px;

    }

    div.homescreen {
        margin: 10px auto;
        background-color: white;
        border: 1px black solid;
        height: 300px;
        width: 450px;
        text-align: center;
        background-color: rgb(36, 36, 36);
        box-shadow: 10px 10px 5px black;
    }

    .questionDisplay {
        margin: 75px auto;
        background-color: white;
        border: 1px black solid;
        height: 300px;
        width: 450px;
        background-color: rgb(36, 36, 36);
        box-shadow: 10px 10px 5px black;
        border-radius: 5px;
    }


    div.feedback {
        margin: 10px auto;
        padding-top: 40px;
        font-size: 18px;
    }

    div.quizInfo {
        position: fixed;
        height: 70px;
        width: 200px;
        background-color: rgb(36, 36, 36);
        bottom: 10px;
        right: 10px;
        box-shadow: 7px 7px 4px black;
        border-radius: 4px;
        text-align: center;
        opacity: 0.7;
    }

    .fieldset{ 
        display: flex;
        flex-direction: column;
    }

    label {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor:pointer;
    }

    button {
        color: black;
        font-size: 12px;
        padding: 12px 36px;
        border-radius: 3px;
        transition: 0.2s;
        border-color: rgb(36, 36, 36);
        cursor: pointer;
    }

    button:hover {
        background-color: grey;
        color: white;
    }

    button.beginQuiz {
        margin-top: 40px;
    }
    button.submitAnswer {
        position: absolute;
        margin-top: -20px;
        margin-left: 325px;
    }

    button.takeAgain, button.nextQuestion {
        margin: 50px auto;
        display:block;

    }

    legend {
        font-size: 20px;
        padding-top: 15px;
        margin-right: 25px;
    }

    h1 {
        font-size: 20px;
    }

    h2 {
        font-size: 18px;
    }
    
    p {
        font-size: 14px;
    }

    h1.quizTitle {
        margin-top: 75px;
    }

    .optionDisplay {
        font-size: 18px;
    }

    label {
        display: flex;
        align-items: baseline;
        font-size: 16px;
        padding-left: 5px;
    }

    input[type="radio"] {
        margin-right: 8px;
        cursor: pointer;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        border: none;
    }
}

/* Smartphones (landscape and portrait) */

@media screen and (max-width : 768px) {

    body {
        background-image: url("https://wallpaperplay.com/walls/full/8/8/3/244127.jpg");
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .quiz {
        margin: 10px auto;
        height: 303px;
        width: 353px;
        display: flex;
    }

    div.homescreen {
        margin: 10px auto;
        background-color: white;
        border: 1px black solid;
        height: 250px;
        width: 350px;
        text-align: center;
        background-color: rgb(36, 36, 36);
        box-shadow: 10px 10px 5px black;
    }

    .questionDisplay {
        margin: 75px auto;
        background-color: white;
        border: 1px black solid;
        height: 250px;
        width: 350px;
        background-color: rgb(36, 36, 36);
        box-shadow: 10px 10px 5px black;
        border-radius: 5px;
    }


    div.feedback {
        margin: 10px auto;
        padding-top: 40px;
        font-size: 18px;
    }

    div.quizInfo {
        position: fixed;
        height: 70px;
        width: 200px;
        background-color: rgb(36, 36, 36);
        bottom: 10px;
        right: 10px;
        box-shadow: 7px 7px 4px black;
        border-radius: 4px;
        text-align: center;
        opacity: 0.7;
    }

    .fieldset{ 
        display: flex;
        flex-direction: column;
    }

    label {
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        cursor:pointer;
    }

    button {
        color: black;
        background-color:grey;
        font-size: 12px;
        padding: 12px 36px;
        border-radius: 3px;
        transition: 0.2s;
        border-color: rgb(36, 36, 36);
        cursor: pointer;
        -webkit-appearance: none;
    }

    button:hover {
        background-color: grey;
        color: white;
        -webkit-appearance: none;
    }

    button.beginQuiz {
        margin-top: 35px;
        -webkit-appearance: none;
    }
    button.submitAnswer {
        position: absolute;
        margin-top: -45px;
        margin-left: 220px;
        -webkit-appearance: none;
    }

    button.takeAgain {
        margin: 65px auto;
        display:block;
        -webkit-appearance: none;
    }

    button.nextQuestion {
        margin: 25px auto;
        display:block;
        -webkit-appearance: none;
    }

    legend {
        font-size: 16px;
        padding-top: 15px;
        margin-right: 25px;
    }

    h1 {
        font-size: 18px;
    }

    h2 {
        font-size: 14px;
    }
    
    p {
        font-size: 12px;
    }

    h1.quizTitle {
        margin-top: 75px;
    }

    .optionDisplay {
        font-size: 12px;
    }

    label {
        display: flex;
        align-items: baseline;
        font-size: 12px;
        padding-left: 5px;
    }

    input[type="radio"] {
        margin-right: 8px;
        cursor: pointer;
    }

    fieldset {
        display: flex;
        flex-direction: column;
        border: none;
    }
};

